.mainContainer{
    height: 100vh;
    z-index: 1;
    min-width: 100px;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    transition: all 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    border-radius: 5%;
}

.banner{
    height: 300px;
    position: relative;
}

.banner .bannerImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}


h1{
    color: rgb(1, 118, 220);
    text-align: center;
    padding-top: 2vh;
    font-family: 'Sacramento', cursive;
    font-size: 10vh;
}
p{
    color: rgb(0, 66, 100);
    text-align: center;
    padding: 2vh 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 4vh;
}